/*=============== GOOGLE FONTS ===============*/


/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    /*======= Primary(60%), Secondary(40%), Acent(10%) =======*/
    --clr-primary: ;
    --clr-secondary: ;
    --clr-acent: ;
    
    /*======= Neutral Colors =======*/
     --clr-neutral-1: #fffefd;
    --clr-neutral-2: #1b1c1e;
    
    /*========== Font size and typography ==========*/
    /*======= Font Family =======*/
    --ff-primary: ;
    --ff-title: ;
    
    /*======= Font size =======*/
    --fs-primary: 2rem;
    --fs-secondary: 1.375rem;
    --fs-tertiary: 1.188rem;
    --fs-body: 0.875rem;
    --fs-small: 0.75rem;

    /*========== Font weight ==========*/
    --fw-thin: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 900;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
    :root {
        --fs-primary: 2.5rem;
        --fs-secondary: 2.063rem;
        --fs-tertiary: 1.688rem;
        --fs-body: 1rem;
        --fs-small: 0.875rem;
    }
}

/*=============== RESET ===============*/
/* Box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}

/* Set core body defaults */
body {
    height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    background-color: var(--clr-primary);
    color: ;
}

h1,h2,h3{
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    color: ;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images responsive */
img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 75rem;
  margin: 0 1.5rem;
}

.section {
  padding: ;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
 
}

@media screen and (orientation: landscape) {

}

/* For medium devices */
@media screen and (min-width: 767px) {
  
}

/* For large devices */
@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1048px) {

}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



