/*=============== GOOGLE FONTS ===============*/


/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    --primary-color: ;
    --secondary-color: ;
    --acent-color: ;
    --white-color: #fff;
    --black-color: #000;
    
    /*========== Font and typography ==========*/
    --body-font: ;
    --title-font: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;

    /*========== Font weight ==========*/
    --font-regular: ;
    --font-medium: ;
    --font-semi-bold: ;
    --font-bold: ;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
    :root {
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }
}

/*=============== BASE ===============*/
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: 1.5;
    background-color: var(--prymary-color);
    color: ;
}

h1,h2,h3{
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 75rem;
  margin:;
}

.section {
  padding: ;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
 
}

@media screen and (orientation: landscape) {

}

/* For medium devices */
@media screen and (min-width: 767px) {
  
}

/* For large devices */
@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1048px) {

}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}






