/*=============== GOOGLE FONTS ===============*/


/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    --primary-color: ;
    --secondary-color: ;
    --acent-color: ;
    --white-color: #fff;
    --black-color: #000;
    
    /*========== Font and typography ==========*/
    --body-font: ;
    --title-font: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
/*========== Font weight ==========*/
    --font-regular: ;
    --font-medium: ;
    --font-semi-bold: ;
    --font-bold: ;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
    :root {
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body{
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.5;
    background-color: ;
    color: ;
}

h1,h2,h3{
    font-weight: var(--font-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 75rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 5.5rem 0 1rem;
}

/*=============== SCSS FUNCTIONS ===============*/

/*========== CONVERT PX TO REM ==========*/
@mixin width($value) {
    width: ($value / 16) + rem;
}

